.cm-s-default span.cm-keyword { color: blue; }
.cm-s-default span.cm-comment { color: darkgreen; }
.cm-s-default span.cm-string { color: red; }
.cm-s-default span.cm-def { color: black; }
.cm-s-default span.cm-variable { color: black; }
.cm-s-default span.cm-variable-2 { color: black; }
.cm-s-default span.cm-atom { color: darkgray; }
.cm-s-default .CodeMirror-linenumber { color: teal; }
.cm-s-default .CodeMirror-activeline-background { background: #ffffff; }
.cm-s-default span.cm-string-2 { color: #FF00FF; }
.cm-s-default span.cm-operator, 
.cm-s-default span.cm-bracket, 
.cm-s-default span.cm-punctuation { color: darkgray; }
.cm-s-default .CodeMirror-gutters { border-right: 3px solid #ffee62; background-color: #ffffff; }
.cm-s-default div.CodeMirror-selected { background: #ADD6FF; }

